Flask
Flask-SocketIO
eventlet
gunicorn
numpy
opencv-python-headless
pillow
torch
torchvision
torchaudio
tqdm
bidict
blinker
click
dnspython
filelock
fsspec
greenlet
h11
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
packaging
python-engineio
python-socketio
simple-websocket
sympy
typing_extensions
Werkzeug
wsproto
